@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background-color: #fcffe7;
}

input.outlined {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  box-sizing: border-box; /* ensure padding doesn't increase width */
  text-align: center; /* center text content */
}

input[type="text"].outlined:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 10fr;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #fcffe7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #646cff;
}

body {
  margin: 0;
  /*display: flex;*/
  min-width: 320px;
  min-height: 100vh;
}

.contents {
  display: contents;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #8a25a4;
  }
  button {
    background-color: #f9f9f9;
  }
}

.bezier-scale {
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.bezier-scale:hover {
  transform: scale(1.1);
}

.cards {
  display: grid;
  align-items: center;
}

.align-center {
  align-items: center;
}

.bg-dark-blue-palet {
  background-color: #2b3467;
}

.bg-light-blue-palet {
  background-color: #bad7e9;
}

.bg-yellow-beige-palet {
  background-color: #fcffe7;
}

.bg-pale-red-palet {
  background-color: #eb455f;
}

.dark-blue-palet {
  color: #2b3467;
}

.light-blue-palet {
  color: #bad7e9;
}

.yellow-beige-palet {
  color: #fcffe7;
}

.pale-red-palet {
  color: #eb455f;
}

.bg-maroon-palet {
  background-color: #8e3200;
}

.bg-brown-palet {
  background-color: #a64b2a;
}

.bg-light-brown-palet {
  background-color: #d7a86e;
}

.bg-cream-palet {
  background-color: #ffebc1;
}

.maroon-palet {
  color: #8e3200;
}

.brown-palet {
  color: #a64b2a;
}

.light-brown-palet {
  color: #d7a86e;
}

.cream-palet {
  color: #ffebc1;
}

.w3-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w3-container {
  position: relative;
  text-align: center;
  color: white;
}

tr {
    text-align: left;
}

tbody > tr {
    background-color: #c1c1c1;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

label {
    text-align: left;
}
